<!--<div *ngIf="student">-->
<!--  <div >-->
<!--    {{student.organization}}-->
<!--  </div>-->
<!--  <div>-->
<!--    <div>-->
<!--      <p>Информация</p>-->
<!--      <p>Организация | {{student.organization}}</p>-->
<!--      <p>Преподаватель | {{subject.teacher}}</p>-->
<!--      <p>Класс | {{subject.class}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Рейтинг</p>-->
<!--      <button *ngFor="let subject of subjects">-->
<!--        {{subject.name}}-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

