@use '../../styles/company.style';
@use '../../styles/registration-form.style';

.registration-company-link {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;

  color: #7A7895;
}
