<div class="container">
  <div *ngIf="phase === 1">
    <div class="create-task__text-box">
      <h2>
        Выберите предмет, по которому будет создано задание
      </h2>
      <p>
        Ваши предметы:
      </p>
    </div>

    <div class="subjects__box">
      <div  *ngFor="let subject of subjects$ | async">
        <button [ngClass]="{active: selectedSubjectName === subject.name}" class="subject-button__box" (click)="editSubject(subject)">
          <p class="subject-button__name">{{subject.name}}</p>
        </button>
      </div>
      <div>
        <a class="subject__create-box" routerLink="/tasks/create/subject">
          <p class="subject__create-name">Создать предмет</p>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf="phase === 2" class="add-groups">
    <div style="display: flex; justify-content: space-between">
      <h2>Добавьте классы: </h2>
      <button>
        создать группу
      </button>
    </div>
    <div class="lk__find-group" *ngIf="groups$ | async as groups">
      <label class="lk__find-group-title">Группа:</label>
      <select class="lk__find-group-text" [(ngModel)]="idGroup" name="findGroup">
        <option disabled selected [ngValue]="0">Выберите группу</option>
        <option class="lk__find-group-text" *ngFor="let item of groups" [ngValue]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>

  <div class="create-subject__buttons-box">
    <button
      (click)="backPhase()"
      class="create-subject__button">
      <img width="24" height="24" src="/assets/back-arrow.svg" alt="back">
      <p class="form-button__text">
        Назад
      </p>
    </button>

    <button
      (click)="nextPhase()"
      class="create-subject__button">
      <p class="form-button__text">
        Далее
      </p>
      <img width="24" height="24" src="/assets/button-right-arrow.svg" alt="back">
    </button>
  </div>
</div>

