<div class="header">
  <header class="header__box container">
    <a class="header__logo" [routerLink]="['']">
      <img src="assets/logo.svg" alt = "logo">
    </a>
    <nav class="header__list">
      <app-navbar/>
    </nav>
    <a class="header__account" [routerLink]="['/lk']" *ngIf="nickname">
      <span >
        {{nickname}}
      </span>
    </a>
    <ng-container *ngIf="!isEntered">
      <button class="log-reg__button log-reg__text" #toggleButton (click)="toggleMenu()">
        Войти
      </button>

      <div class="menu" *ngIf="isMenuOpen" #menu>
        <app-login-registration-form (onOpenRegistrationChanged)="openRegistrationChanged()" (onCloseForm)="toggleMenu()"/>
      </div>
    </ng-container>
    <ng-container *ngIf="isEntered">
      <button class="log-reg__button log-reg__text" #toggleButton (click)="exit()">
        Выйти
      </button>
    </ng-container>
  </header>
</div>
