<div class="container" *ngIf="task$ | async as task">
  <div class="task__section-1">
    <div>
      <h3 class="task__title">{{task.subject}}</h3>
      <p class="task__name">{{task.name}}</p>
      <p class="task__difficulty">Уровень: {{task.difficulty}}</p>
    </div>
    <div class="task__effect-section">
      <div class="task__end-button">
        <button [ngClass]="{active: result$ || !answer}" [disabled]="result$ || !answer" (click)="endTask(task)">
          <p>
            Завершить выполнение
          </p>
        </button>
        <div *ngIf="result$" class="task__button-next-box">
          <button class="task__button-next" routerLink="/">
            на Главную
          </button>
          <button class="task__button-next" (click)="nextTask()">
            Следующее
          </button>
        </div>
      </div>

    </div>


  </div>
  <div class="task__section-2">
    <div class="task__description">
      <p>{{task.description}}</p>
    </div>

  </div>
  <div class="task__section-3">
    <input [(ngModel)]="answer" [disabled]="!!result$" class="task__input">
    <div class="task__result" *ngIf="result$ | async as result">
      <div class="task__result-green" *ngIf="result" style="display: flex; gap: 10px">
        <p>верно</p>
        <p>{{task.difficulty.scores}} / {{task.difficulty.scores}}</p>
      </div>
      <div class="task__result-red" *ngIf="!result" style="display: flex; gap: 10px">
        <p>неверно</p>
        <p>0 / {{task.difficulty.scores}}</p>
      </div>
    </div>
  </div>
  <div class="task__section-4">
    <button
      (click)="backPhase()"
      class="task__button">
      <img width="24" height="24" src="/assets/back-arrow.svg" alt="back">
      <p class="form-button__text">
        Назад
      </p>
    </button>
  </div>
</div>
