<div class="form-box">
  <form
    class="registrationForm"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmitRegistration()"
  >
    <div class="alert alert-danger" *ngIf="_authService.error$ | async as error">
      {{error}}
    </div>

    <div class="registrationForm__group">
      <div class="registrationForm__controls-box">
        <div class="registrationForm__control-box">
          <label for="email" [ngStyle]="{'color': registrationForm.controls['companyEmail'].touched && registrationForm.controls['companyEmail'].invalid ? 'red' : 'black'}" class="registrationForm__label">email</label>
          <input
            class="registrationForm__control"
            id="email"
            type="email"
            name="email"
            [formControlName]="'companyEmail'"
          >
          <div
            class="registrationForm__error"
            *ngIf="registrationForm.controls['companyEmail'].invalid
        && registrationForm.controls['companyEmail'].touched">
            Обязательно для заполнения или неверный формат
          </div>
        </div>
        <div class="registrationForm__control-box">
          <label for="name">Название</label>
          <input
            class="registrationForm__control"
            id="name"
            type="text"
            name="name"
            [formControlName]="'companyName'"
          >
          <div
            class="registrationForm__error"
            *ngIf="registrationForm.controls['companyName'].invalid
           && registrationForm.controls['companyName'].touched"
          >
            Обязательно для заполнения
          </div>
        </div>
        <div class="registrationForm__control-box">
          <label for="INN">ИНН</label>
          <input
            class="registrationForm__control"
            id="INN"
            type="number"
            name="INN"
            [formControlName]="'companyINN'"
          >
          <div
            class="registrationForm__error"
            *ngIf="registrationForm.controls['companyINN'].invalid
           && registrationForm.controls['companyINN'].touched"
          >
            Обязательно для заполнения
          </div>
        </div>
        <div class="registrationForm__control-box">
          <label for="name">Имя</label>
          <input
            class="registrationForm__control"
            id="url"
            type="url"
            name="url"
            [formControlName]="'companyUrl'"
          >
          <div
            class="registrationForm__error"
            *ngIf="registrationForm.controls['companyUrl'].invalid
           && registrationForm.controls['companyUrl'].touched"
          >
            Обязательно для заполнения
          </div>
        </div>
      </div>
    </div>


    <div>
      <button
        type="submit"
        [disabled]="registrationForm.invalid || submitted || registrationForm.disabled"
      >
        Отправить запрос
      </button>
    </div>
  </form>
</div>
