
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SchooLearn-primary: mat.define-palette(mat.$indigo-palette);
$SchooLearn-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SchooLearn-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SchooLearn-theme: mat.define-light-theme((
  color: (
    primary: $SchooLearn-primary,
    accent: $SchooLearn-accent,
    warn: $SchooLearn-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SchooLearn-theme);

:root {
  --green: #B5FBD6;
  --white: #FFFFFF;
  --grey: #E6E6E6;
  --light_purple: #D3AAF8;
  --purple: #B169F3;
  --dark_purple: #5E0155;
  --black: #000000;
}

*, *:after, *:before {
  color: var(--black);
  font-style: normal;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: .5s ease-in-out;
}

html, body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin:0;
  padding:0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1330px;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  letter-spacing: 1px;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
  color: var(--black);
  text-decoration: none;
}

.wrapper {
  min-height: 80%;
}

button {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
