<div class="head__box">
  <div class="head__text">
    <h1 class="head__title"><span class="head__title-span">SCHOOLEARN</span> - цифровой образовательный сервис</h1>
    <p class="head__subtitle">Добавьте разнообразие в учебный процесс</p>
    <div class="head__link">
<!--      <button class="form__registration-button" type="button">-->
<!--        <p>Зарегистрироваться</p>-->
<!--      </button>-->
    </div>

  </div>
  <div class="head__img">
    <img src="assets/base-img.png" alt="изображение главной страницы" style="float:right">
  </div>
</div>
