<div class="container lk">
  <app-side-bar nickname="{{nickName}}" role="teacher" (subjectId)="getGroupsSubject($event)"></app-side-bar>
  <div class="lk__info">
    <div class="lk__title">
      <h2>Информация</h2>
    </div>
    <div class="lk__student-info">
      <div class="lk__navigate-info">
        <p>Организация | <span>{{organization}}</span></p>
      </div>
      <div class="lk__find-group" *ngIf="groups$ | async as groups">
        <label class="lk__find-group-title">Группа:</label>
        <select class="lk__find-group-text" name="findGroup" (change)="onFindGroup($event)">
          <option disabled selected value="">Выберите группу</option>
          <option class="lk__find-group-text" *ngFor="let item of groups" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>

    <div class="lk__tasks">
      <app-viewing-solved-tasks [id]="id"/>
      <app-viewing-assigned-jobs [id]="id"/>
    </div>
  </div>
</div>
