<div class="container lk">
  <app-side-bar nickname="{{nickName}}" role="teacher" (subjectId)="getGroupsSubject($event)"></app-side-bar>
  <div class="lk__info">
    <div class="lk__title">
      <h2>Информация</h2>
    </div>
    <div class="lk__student-info">
      <div class="lk__navigate-info">
        <p>Организация | <span>{{organization}}</span></p>
      </div>
      <div class="lk__find-group" *ngIf="groups$ | async as groups">
        <label class="lk__find-group-title">Группа:</label>
        <select class="lk__find-group-text" [(ngModel)]="id" name="findGroup" (change)="onFindGroup()">
          <option disabled selected [ngValue]="0">Выберите группу</option>
          <option class="lk__find-group-text" *ngFor="let item of groups" [ngValue]="item.id">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="lk__group-code" *ngIf="key$ | async as key">
      <div class="lk__key">
        <div class="lk__key-img">
          <img src="assets/key.svg" alt="key">
        </div>
        <p>Код для присоединения: {{key}}</p>
      </div>
      <div class="lk__generate-code">
        <button (click)="onGetNewCodeGroup()">Сгенерировать новый</button>
      </div>
    </div>
    <div class="lk__tasks">
      <app-view-assigned-tasks-for-teacher [id]="id"/>
    </div>
    <div class="lk__create-task-button-box" *ngIf="key$">
      <a routerLink="/tasks/create">
        <div class="lk__create-task-button">
          <p>Создать задание</p>
        </div>
      </a>
    </div>
  </div>
</div>
